<div class="popup-wrapper">
    <button class="close-button" aria-label="Close popup"></button>
    <div class="popup-side popup-front">
        <div class="popup-background-photo" style="background-image: url('./pictures/catcute.png')"></div>
        <svg class="popup-border-overlay" viewBox="0 0 365 252" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <rect width="100%" height="100%" fill="url(#paint0_linear_{{id}})"/>
            <defs>
                <linearGradient id="paint0_linear_{{id}}" x1="50%" y1="0" x2="50%" y2="100%" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="{{color}}" stop-opacity="0" />
                    <stop offset="0.3" stop-color="{{color}}" stop-opacity="1" />
                </linearGradient>
            </defs>
        </svg>
        <div class="content-wrapper">
            <div class="popup-title">{{name}}</div>
            <div class="fade-top"></div> 
            <div class="popup-description">{{description}}</div>
            <div class="fade-bottom"></div>
            <div class="popup-actions">
                <button class="navigate-button button-base">Navigeer</button>
                <button class="more-info-button button-base">Meer info</button>
            </div>
        </div>
    </div>
    
    <div class="popup-side popup-back">
        <div class="popup-background-photo" style="background-image: url('./pictures/catcute.png')"></div>
        <div class="content-wrapper">
            <div class="popup-title details">{{name}}</div>
            <button class="more-info-button button-base">Terug</button>
        </div>
    </div>
</div>